<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>智能撲滿</title>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/home.css' %}">  <!--連結到index.css-->
        <link rel="icon" href="{% static 'portfolio/image/logo_money.png' %}">
        <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <body>
        <nav class="container-navbar">
            <ul class="container-nav">
                <li class="container-nav-logo">
                    <a href="home.htm"><img src="{% static 'portfolio/image/logo_pig-removebg-preview.png' %}" alt="" width="75px" style="left: 50px; top: 5px; position: absolute;"></a>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="invest">立即試算</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="aboutUs">關於我們</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="knowledge">知識＋</a>
                    </div>
                   
                </li>
                <li class="container-nav-btn" id="container-nav-btn-expect">
                    <div class="container-nav-btn-text">
                        <a href="member/1">會員專區</a>
                    </div>
                    
                </li>
            </ul>
        </nav>

        <!-- first paragraph -->
        <div class="container-first-paragraph">
            <div class="container-first-paragraph-pic">
                <img src="{% static 'portfolio/image/未命名的作品 (1).png' %}" alt="" width="500px" id="first-paragraph-pic">
            </div>
            <div class="container-first-paragraph-text">
                <p>即刻加入智能撲滿<br><br>無上限試算最適合您的投資組合</p>
                <div class="slidecontainer">
                    <input type="range" min="1" max="20" value="10" class="slider" id="myRange">
                    <p style="font-size: 16px;">預計投報率：<span id="demo"></span>%</p>
                </div>
                <div>
                    <button class="btn-join-us"><a href = "invest">點我試算</a></button>
                </div>     
            </div>
        </div>
        

        <!-- second paragraph -->
        <div class="container-second-paragraph">
            <div class="container-second-paragraph-text">
                <p>客制化的投資組合<br>更貼合你的風險評價<br>一同攜手打造財富自由</p>
            </div>
            <div class="container-second-paragraph-chart">
                <div id="container-chart"></div>
            </div>
            
        </div>

        <!-- third paragraph -->
        
        

        <script>
            const data = {
                "1月": 12,
                "2月": 18,
                "3月": 22,
                "4月": 25,
                "5月": 32,
                "6月": 35,
                "7月": 26,
                "8月": 18
            }
    
            const container = document.querySelector('#container-chart');
            const xAxisCate = Object.keys(data);
            const seriesData = xAxisCate.map(key => data[key]);
    
            var myChart = Highcharts.chart(container, {
            chart: {
                type: "line"
            },
            title: {
                text: "您的投資組合",
            },
            subtitle: {
                // 副標題設定
            },
            caption: {
                // 圖表說明設定
            },
            credits: {
                // 版權標籤設定
            },
            xAxis: {
                categories: xAxisCate
            },
            yAxis: {
                title: {
                text: "投報率百分比"
                }
            },
            series: [{
                name: "投報率曲線",
                data: seriesData
            }]
            });    
        </script> 
        <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;
            
            slider.oninput = function() {
              output.innerHTML = this.value;
            }
            </script>
    </body>
</html>
