<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>智能撲滿</title>
        <link rel="stylesheet" href="../css/login.css">  <!--連結到index.css-->
        <link rel="icon" href="../asset/image/logo_money.png">
    <body>
        <nav class="container-navbar">
            <ul class="container-nav">
                <li class="container-nav-logo">
                    <a href="home.htm"><img src="../asset/image/logo_pig-removebg-preview.png" alt="" width="75px" style="left: 50px; top: 5px; position: absolute;"></a>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="home.htm">首頁</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="about-us.htm">關於我們</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="knowledge.htm">知識＋</a>
                    </div>
                   
                </li>
                <li class="container-nav-btn" id="container-nav-btn-expect">
                    <div class="container-nav-btn-text">
                        <a href="member.htm">會員專區</a>
                    </div>
                    
                </li>
            </ul>
        </nav>

        <!-- first paragraph -->
        <div class="container-first-paragraph">
            <div class="container-first-paragraph-form">
                <div>
                    <p>登入<br>123<br>1</p>
                    <button class="btn-join-us" id="container-first-paragraph-btn-join-us"><a href="member.htm">會員</a></button>
                </div>
            </div>
        </div>
    </body>
</html>
