<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>智能撲滿</title>
        <link rel="stylesheet" type="text/css" href="{% static 'operation/member.css' %}">  <!--連結到index.css-->
        <link rel="icon" href="../asset/image/logo_money.png">
        <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    </head>
    <body>
        
        <nav class="container-navbar">
            <ul class="container-nav">
                <li class="container-nav-logo">
                    <a href="home.htm"><img src="../asset/image/logo_pig-removebg-preview.png" alt="" width="75px" style="left: 50px; top: 5px; position: absolute;"></a>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="invest.htm">立即試算</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="about-us.htm">關於我們</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="knowledge.htm">知識＋</a>
                    </div>
                   
                </li>
                <li class="container-nav-btn" id="container-nav-btn-expect">
                    <div class="container-nav-btn-text"  id="container-nav-btn-text-active">
                        <a href="member.htm">會員專區</a>
                    </div>
                    
                </li>
            </ul>
        </nav>
        <!-- first paragraph -->
        <!-- <div class="contanier-first-paragraph">
            <nav class="container-first-paragraph-nav">
                <a data-id="1">個人檔案</a>
                <a data-id="2">歷史試算紀錄</a>
            </nav>
        </div>
        <script>
            document.querySelectorAll('.container-first-paragraph-nav a').forEach(e => e.addEventListener('click', _ => change(e.dataset.id)))
        </script> -->

         <div class="container">

            <nav class="second">
                <a data-id="1">個人檔案</a>
                <a data-id="2">歷史試算紀錄</a>
            </nav>
            <main >
                <div class="active">
                    <article class="container-personial-text">
                       <article class="container-text">
                            <p>姓名：{{ user.user_name }}</p>
                            <p>帳號：{{ user.user_account }}</p>
                            <p>電話：{{ user.user_tel }}</p>
                            <p>電子郵件：{{ user.user_email }}</p>
                            
                        </article>
                        <article>
                            <p>年齡:{{ user.user_age }}</p>
                            <p>收入:{{ user.user_income }}</p>
                            <p>職業:{{ user.user_career }}</p>
                        </article> 
                    </article>
                    
                   
                </div>
                <div>
                    <article class="container-personial-text">
                        <article class="container-text">
                           <figure class="highcharts-figure">
            <article id="container" style="width: 50%;"></article>
        </figure>
                         </article> 
                     </article>
                </div>
            </main>
          
          </div>
          
        <script>
            document.querySelectorAll('nav a')
            .forEach(e => e.addEventListener('click', _ => change(e.dataset.id)))


            function change(n) {
            let panels = document.querySelectorAll('main div')
            panels.forEach(p => p.classList.remove('active'))
            panels[n - 1].classList.add('active')
            }
        </script>


  
        <script>
            // Build the chart
            var result =
            [['AMAZON.COM', 0.05 ], 
            ['ABBOTT LABORATORIES', 30], 
            ['AES', 15], 
            ['ABIOMED', 5]];
        console.log(result.length)
        
        Highcharts.chart('container', {
            chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
            },
            title: {
            text: '您的投資組合'
            },
            tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
            point: {
                valueSuffix: '%'
            }
            },
            plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                enabled: false
                },
                showInLegend: true
            }
            },
            series: [{
            name: '權重',
            colorByPoint: true,
            data: [{
                name: result[0][0],
                y: result[0][1]*1000,
                // sliced: true,
                // selected: true
            }, {
                name: result[1][0],
                y: result[1][1]
            }, {
                name: result[2][0],
                y: result[2][1]
            }, {
                name: result[3][0],
                y: result[3][1]
            }
            ]
            }]
        });
        </script>
    </body>
</html>